:root {
    --cl-green: #1cd1b0;
    --cl-ski-blue: #00669F;
    --cl-black: #000000;
    --cl-white: #FFFFFF;
    --cl-blue: #001D2D;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* -----------seccion header------------- */
a button,
footer {
    background-color: var(--cl-ski-blue);
    color: #F3F3F3;
}

body {
    max-width: 1440px;
    margin-inline: auto;

}

.banner {
    max-width: 1440px;
    margin-inline: auto;
}

div h1 {
    max-width: 1440px;
    margin-inline: auto;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}


.descuento {
    background-color: var(--cl-green);
    color: var(#000000);
    padding-left: 10px;
}

header img {
    margin-left: 10px;

}

.nombre {
    display: flex;
    background-color: var(--cl-ski-blue);
    color: var(--cl-white);
}

/* --------------seccion nav--------- */
nav {
    background-color: var(--cl-blue);
    max-width: 1440px;
    display: flex;
    margin-inline: auto;

}

.nav {
    max-width: 1440px;
    margin-inline: auto;
    margin-right: 20px;
}


ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;

}

a {
    color: var(--cl-white);
    text-decoration: none;

}

/* --------cartas-------------- */


svg {
    color: #CC2424;
    position: relative;
    align-self: flex-start;
    top: 30px;
    left: 15px;
    z-index: 2;
}

.fondo {
    z-index: 1;
    width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.avatar {
    width: 50%;
    z-index: 2;
}

article>div {
    max-width: 1440px;
    margin-inline: auto;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.descripcion {
    position: relative;
    top: -71px;
    background-color: #F3F3F3;
}

article {
    width: 300px;
}


/* ------------seccion main---------- */

.cartas {
    max-width: 1440px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

p {
    font-size: 16px;
    padding: 10px;
}

.button1 {
    max-width: 1440px;
    margin-inline: auto;
    width: 129px;
    height: 48.5px;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    justify-content: center;
}

.boton {
    position: relative;
    width: 82px;
    height: 82px;
    font-size: 62px;
    border-radius: 50px;
    border-style: none;
    align-items: center;
}

.btn {
    display: inline;
    justify-content: center;
    align-content: center;
}

.btnmas {
    justify-content: center;
    display: inline;
    padding: 2%;
/* position: relative; */
}

.botonmas {
    display: flex;
    justify-content: center;
        /* position: absolute; */
    width: 82px;
    height: 82px;
    font-size: 62px;
    font-weight: bold;
    border-radius: 50px;
    border-style: none;
    align-items: center;
    background-color: var(--cl-ski-blue);
    color: #F3F3F3;

}

/* -seccion footer-------------*/

footer {
    max-width: 1440px;
    margin-inline: auto;
    padding-block: 1rem;
    text-align: center;

}


/* ----------index2.html----------------- */
.padre-añadir{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90rem;
}
 .contenedor-añadir{
    background-color:var(--cl-ski-blue);
    color: var(--cl-white);
    max-width: 59.625rem; 
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-radius: 3rem;

 }
.añadir-superheroe{
    font-size: 2.5rem;
    font: bold;  
}
.agregar-personaje{
    font-size: 1.25rem;
    font-family: 'Inter',sans-serif;
}
.header-titulo{
    width: 100%;
    text-align: center;
}
.body-añadir{
    display: flex;
    align-content: center;
    column-gap: 1rem;
    margin-inline: 7.75rem;
}
.añadir1{
    width: 21.44rem;
    height: 100%;
}
.div-nombre .div-especie{
    border: none;
    border-radius: 0.96rem;
    font-size: 0.8rem;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 0.9375rem;
    width: 100%;
    color: #8a97a0;
    box-shadow: 0 0.0625rem 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 1.875rem;
}
.div-date{
    border: none;
    border-radius: 0.96rem;
    font-size: 0.8rem;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 0.9375rem;
    width: 100%;
    color: #8a97a0;
    box-shadow: 0 0.0625rem 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 1.875rem;

}
.div-nombre label{
    width: 100%;
    margin-bottom: 1.25rem;
    display: block;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-family: 'Inter',sans-serif;
    line-height: 1.5rem;
}

.div-date label{
    width: 100%;
    margin-bottom: 1.25rem;
    display: block;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-family: 'Inter',sans-serif;
    line-height: 1.5rem;
}
.div-date input{
    width: 100%;
    height: 3.94rem;
    border-radius: 0.96rem;
    border-style: none;
    padding: 0.9375rem;

}

.div-nombre input{
    width: 100%;
    height: 3.94rem;
    border-radius: 0.96rem;
    border-style: none;
    
}
#descripcion{
    font-size: 1.25rem;
    padding-left: 0.625rem;
    padding-top: 1.25rem;
    color: hsla(0, 0%, 0%, 0.5);
    line-height: 1.25rem;

}
.div-descripcion{
    padding: 0.9375rem;
}
.div-descripcion textarea{
    border: none;
    border-radius: 0.96rem;
    width: 100%;
    height: 19.19rem;
    margin: 0;
    outline: 0;
    box-shadow: 0 0.0625rem 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 1.875rem;


}
.añadir2{
    /* background-color: #CC2424; */
    width: 21.44rem;
    height: 100%;
    
}
.div-especie label{
    width: 100%;
    margin-bottom: 1.25rem;
    display: block;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-family: 'Inter',sans-serif;
    line-height: 1.5rem;

}
.div-especie select{
    width: 100%;
    height: 3.94rem;
    border-radius: 0.96rem;
    border-style: none;
    padding: 0.9375rem;
    background-color: #CECECE;
}
.div-foto{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}
.div-tipos{
    width: 21.44rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
}
.linea-tipos{
    margin-bottom: 1rem;
}
.poderes{
    width: 100%;
    display: block;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-family: 'Inter',sans-serif;
    line-height: 1.5rem;

    
}
input[type="radio"],
input[type="checkbox"] {
  margin: 0 0.5rem 0.5px 0;
  margin-bottom: 01rem;
}
.input-file::-webkit-file-upload-button{
    /* padding: 0.5rem;
    font-size: 1rem; */
    /* height: 2rem; */
    /* width: 100%; */
/* border-radius: 4px;  */
/* background-color: #CC2424; */
/* outline: none; */
padding: 10px 25px ;
/* text-transform: uppercase; */
/* transition: all 1s ease; */
font-size: 1rem;


}
.input-file{
    color: #FFFFFF;
    font-size: 0.625rem;
}

.linea-tipos{
    width:  21.44rem;
    }
    
.body-añadir{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-añadir{
    display: flex;
    justify-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.btn_footer{
    width: 29.25rem;
    height: 5.43rem;
    border-radius: 1.44rem;
    background-color: #1CD1B0;
    font-size:2.5rem ;
    color: #000000;
    font-family: 'Inter',sans-serif;
    line-height: 2.74rem;
    font-weight: 700;
    border-style: none;
    margin-bottom: 1rem;
}
/* ---------------media qwery---------------- */
@media (max-width:390px){
    .body-añadir{
        flex-direction: column;
        flex-wrap: wrap;
        margin-inline: 1.5rem;
    }
}