:root {
    --cl-green: #1cd1b0;
    --cl-ski-blue: #00669F;
    --cl-black: #000000;
    --cl-white: #FFFFFF;
    --cl-blue: #001D2D;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* -----------seccion header------------- */
a button,
footer {
    background-color: var(--cl-ski-blue);
    color: #F3F3F3;
}

body {
    max-width: 1440px;
    margin-inline: auto;

}

.banner {
    max-width: 1440px;
    margin-inline: auto;
}

div h1 {
    max-width: 1440px;
    margin-inline: auto;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}


.descuento {
    background-color: var(--cl-green);
    color: var(#000000);
    padding-left: 10px;
}

header img {
    margin-left: 10px;

}

.nombre {
    display: flex;
    background-color: var(--cl-ski-blue);
    color: var(--cl-white);
}

/* --------------seccion nav--------- */
nav {
    background-color: var(--cl-blue);
    max-width: 1440px;
    display: flex;
    margin-inline: auto;

}

.nav {
    max-width: 1440px;
    margin-inline: auto;
    margin-right: 20px;
}


ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;

}

a {
    color: var(--cl-white);
    text-decoration: none;

}

/* --------cartas-------------- */


svg {
    color: #CC2424;
    position: relative;
    align-self: flex-start;
    top: 30px;
    left: 15px;
    z-index: 2;
}

.fondo {
    z-index: 1;
    width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.avatar {
    width: 50%;
    z-index: 2;
}

article>div {
    max-width: 1440px;
    margin-inline: auto;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.descripcion {
    position: relative;
    top: -71px;
    background-color: #F3F3F3;
}

article {
    width: 300px;
}


/* ------------seccion main---------- */

.cartas {
    max-width: 1440px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

p {
    font-size: 16px;
    padding: 10px;
}

.button1 {
    max-width: 1440px;
    margin-inline: auto;
    width: 129px;
    height: 48.5px;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    justify-content: center;
}

.boton {
    position: relative;
    width: 82px;
    height: 82px;
    font-size: 62px;
    border-radius: 50px;
    border-style: none;
    align-items: center;
}

.btn {
    display: inline;
    justify-content: center;
    align-content: center;
}

.btnmas {
    justify-content: center;
    display: inline;
    padding: 2%;
/* position: relative; */
}

.botonmas {
    display: flex;
    justify-content: center;
        /* position: absolute; */
    width: 82px;
    height: 82px;
    font-size: 62px;
    font-weight: bold;
    border-radius: 50px;
    border-style: none;
    align-items: center;
    background-color: var(--cl-ski-blue);
    color: #F3F3F3;

}

/* -seccion footer-------------*/

footer {
    max-width: 1440px;
    margin-inline: auto;
    padding-block: 1rem;
    text-align: center;

}


/* ----------index2.html----------------- */
.padre-añadir{
    display: flex;
    justify-content: center;
}
.header-añadir{
    background-color:var(--cl-ski-blue);
    color: var(--cl-white);
    max-width: 59.625rem;
    /* height: 53.25rem; */
    border-radius: 3.12rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   border-style: dashed;
    
}
.añadir-superheroe{
    font-size: 2.5rem;
    font: bold;  
}
.agregar-personaje{
    font-size: 1.25rem;
    font-family: 'Inter',sans-serif;
}
.header-titulo{
    border-style: dashed;
    border-color: #000000;
}
.body-añadir{
    display: flex;
    align-content: center;
}
.añadir1{
    background-color: #2e4f63;
    width: 400px;
    /* border-radius: 0.96rem; */
    border-style: dashed;
    border-color:#CC2424;
    height: 400px;


}
.añadir2{
    background-color: #CC2424;
    width: 400px;
    height: 400px;
    border-style: dashed;
    border-color: violet;


}
/* .footer-añadir{
    background-color: #001D2D;
    border-style: dashed;
    border-color: pink;

} */
.body-añadir{
    display: flex;
    flex-direction: row;
    border-style: dashed;
    border-color: green;


}
.btn_footer{
    width: 29.25rem;
    height: 5.43rem;
    border-radius: 1.44rem;
    background-color: #1CD1B0;
    font-size:2.5rem ;
    color: #000000;
    font-family: 'Inter',sans-serif;
    line-height: 2.74rem;
    font-weight: 700;
}
.footer-añadir{
    display: flex;
    justify-content: center;
}
/* ---------------media qwery---------------- */
@media (max-width:390px){
    .body-añadir{
        flex-direction: column;
        flex-wrap: wrap;
    }
}